n8n-openrouter-image-card-workflow.json
{
  "name": "OpenRouter World Cup image card",
  "nodes": [
    {
      "parameters": {},
      "id": "c54cedc2-fd84-4e3e-b18f-aab73580d5d8",
      "name": "Manual test trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      team1: 'Brasil',\n      team2: 'Marruecos',\n      person1Name: 'Nikito',\n      person2Name: 'Noe',\n      venue: 'MetLife Stadium',\n      location: 'New York/New Jersey',\n      person1Url: 'https://raw.githubusercontent.com/elyager/datos-del-mundial-2026/main/assets/images/people/yager.jpeg',\n      person2Url: 'https://raw.githubusercontent.com/elyager/datos-del-mundial-2026/main/assets/images/people/nere.jpeg',\n      team1ShirtUrl: 'https://store.fifa.com/cdn/shop/files/image_02047e33-3b4e-41f2-869b-ac361dd4b283.jpg',\n      team2ShirtUrl: 'https://store.fifa.com/cdn/shop/files/image_54f59fd1-10b1-4430-b581-a46bbd87255c.jpg',\n      templateUrl: 'https://picsum.photos/seed/world-cup-card-template/1024/1024',\n    },\n  },\n];"
      },
      "id": "d38a0af5-53ec-4f26-a2e3-7fe08a21474f",
      "name": "Mock image card input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        120
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "openrouter-image-card",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "5d1b45b3-99e0-4f7b-b755-88f565f8bd21",
      "name": "Receive card input",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        240,
        320
      ],
      "webhookId": "openrouter-image-card"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body ?? $json;\nconst cardInput = { ...body };\n\nconst requiredFields = [\n  'team1',\n  'team2',\n  'person1Name',\n  'person2Name',\n  'venue',\n  'location',\n  'person1Url',\n  'person2Url',\n  'team1ShirtUrl',\n  'team2ShirtUrl',\n  'templateUrl',\n];\n\nconst missing = requiredFields.filter((field) => typeof cardInput[field] !== 'string' || !cardInput[field].trim());\nif (missing.length) {\n  throw new Error(`Card input is missing required fields: ${missing.join(', ')}`);\n}\n\nfor (const field of requiredFields) {\n  cardInput[field] = cardInput[field].trim();\n}\n\nconst urlFields = ['person1Url', 'person2Url', 'team1ShirtUrl', 'team2ShirtUrl', 'templateUrl'];\nconst invalidUrls = [];\nconst publicImageUrlPattern = /^https?:\\/\\/\\S+$/i;\nfor (const field of urlFields) {\n  if (!publicImageUrlPattern.test(cardInput[field])) {\n    invalidUrls.push(field);\n  }\n}\n\nif (invalidUrls.length) {\n  throw new Error(`Card input has invalid public image URLs: ${invalidUrls.join(', ')}`);\n}\n\nreturn [{ json: cardInput }];"
      },
      "id": "7404a981-bc52-46f5-bd28-96ef57a4f822",
      "name": "Validate card input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "const cardInput = $json;\nconst imagePrompt = `Create a realistic square 1024x1024 premium football matchup trading-card image.\n\nUse references as follows:\n- Ref 1: Person 1 identity (${cardInput.person1Name}), placed left. Preserve face, hair, skin tone, gender expression, body type, and recognizable features.\n- Ref 2: Person 2 identity (${cardInput.person2Name}), placed right. Preserve face, hair, skin tone, gender expression, body type, and recognizable features.\n- Ref 3: Team 1 shirt (${cardInput.team1}), worn naturally by Person 1.\n- Ref 4: Team 2 shirt (${cardInput.team2}), worn naturally by Person 2.\n- Ref 5: Trading-card style/layout.\n\nDo not swap shirts. Treat refs 1-2 as identity references and refs 3-4 as clothing references. Blend identity, body, neck, shirt, lighting, shadows, perspective, skin texture, and color temperature into one coherent photorealistic sports portrait, not a collage or face-swap.\n\nRespect each person\u2019s exact natural skin tone, facial features, hair, age, proportions, gender expression, and body shape. Anatomy must be realistic: correct head size, neck, shoulders, torso, chest, arms, hands, posture, and clothing fit. Avoid oversized heads, floating heads, pasted faces, mismatched bodies, distorted limbs, or unnatural proportions.\n\nComposition: ${cardInput.person1Name} on the left wearing the ${cardInput.team1} shirt; ${cardInput.person2Name} on the right wearing the ${cardInput.team2} shirt. Show both waist-up or mid-torso-up, facing each other in an intense football matchup pose. Place a large glossy metallic \u201cVS\u201d centered between them.\n\nTeam names: Display ${cardInput.team1} above Person 1 and ${cardInput.team2} above Person 2. Text must be large, crisp, readable, balanced near the top, and not over faces or hair. Use premium sports-broadcast typography matching the card style. Use Spanish team/country names when applicable, e.g. Brasil, Marruecos, Alemania, Estados Unidos.\n\nClothing: Shirts must look truly worn, with correct collar fit, shoulder seams, sleeve fit, fabric folds, wrinkles, shadows, body tension, and perspective. Adapt each shirt to the person\u2019s real body shape.\n\nAdd one subtle realistic supporter accessory per person matching their team/country colors, such as a scarf, wristband, face-paint stripe, flag-colored detail, cap detail, or stadium item. Accessories must be secondary and must not cover faces, shirts, team names, or VS text.\n\nStyle/background: Premium realistic international football trading card, cinematic sports-promo look, dramatic night stadium, floodlights, blurred crowd, rim light, depth of field, subtle glowing particles, energetic major-match atmosphere at ${cardInput.venue}, ${cardInput.location}, high-end collectible finish. Polished, professional, photorealistic, not cartoonish.\n\nRestrictions: No shirt swaps. No text over faces. No distorted faces, hands, bodies, shirts, or accessories. Do not alter skin tone, gender expression, body shape, or likeness. No hard cutout edges, mismatched lighting, inconsistent skin tones, unauthorized logos, federation crests, FIFA logos, sponsor logos, or trademarked badges unless already present in the references.\n\nPrioritize realistic likeness, accurate skin tone, correct anatomy, natural clothing integration, gender/body accuracy, readable Spanish team names, subtle country accessories, and premium trading-card quality.`;\n\nconst openRouterRequest = {\n  model: 'openai/gpt-5.4-image-2',\n  modalities: ['image', 'text'],\n  stream: false,\n  image_config: {\n    aspect_ratio: '1:1',\n    image_size: '1K',\n  },\n  messages: [\n    {\n      role: 'user',\n      content: [\n        { type: 'text', text: imagePrompt },\n        { type: 'image_url', image_url: { url: cardInput.person1Url } },\n        { type: 'image_url', image_url: { url: cardInput.person2Url } },\n        { type: 'image_url', image_url: { url: cardInput.team1ShirtUrl } },\n        { type: 'image_url', image_url: { url: cardInput.team2ShirtUrl } },\n        { type: 'image_url', image_url: { url: cardInput.templateUrl } },\n      ],\n    },\n  ],\n};\n\nreturn [{ json: { ...cardInput, imagePrompt, openRouterRequest } }];"
      },
      "id": "4f3f0fa6-4d64-4c14-a76d-d67ea58b9b34",
      "name": "Build image request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Title",
              "value": "n8n World Cup Image Card Generator"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.openRouterRequest) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_N8N_CREDENTIAL_ID",
          "name": "OpenRouter Bearer Token"
        }
      },
      "id": "e4e2826c-e705-45ac-8af7-05aff2c261c0",
      "name": "Generate card with OpenRouter",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1200,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "const response = $json;\nconst image = response.choices?.[0]?.message?.images?.[0];\nconst generatedImageDataUrl = image?.image_url?.url ?? image?.imageUrl?.url;\n\nif (!generatedImageDataUrl) {\n  throw new Error('OpenRouter did not return choices[0].message.images[0].image_url.url.');\n}\n\nconst match = generatedImageDataUrl.match(/^data:(image\\/[a-z0-9.+-]+);base64,(.+)$/i);\nif (!match) {\n  throw new Error('Generated image is not a base64 image data URL.');\n}\n\nconst mimeType = match[1].toLowerCase();\nconst base64Data = match[2];\nconst extensionByMimeType = {\n  'image/png': 'png',\n  'image/jpeg': 'jpg',\n  'image/jpg': 'jpg',\n  'image/webp': 'webp',\n};\nconst fileExtension = extensionByMimeType[mimeType] ?? 'png';\nconst fileName = `world-cup-card-${response.id ?? Date.now()}.${fileExtension}`;\n\nreturn [\n  {\n    json: {\n      generatedImageDataUrl,\n      mediaBinaryProperty: 'data',\n      fileName,\n      mimeType,\n      model: response.model ?? 'openai/gpt-5.4-image-2',\n      responseId: response.id,\n      usage: response.usage,\n    },\n    binary: {\n      data: {\n        data: base64Data,\n        mimeType,\n        fileName,\n        fileExtension,\n      },\n    },\n  },\n];"
      },
      "id": "bfedbe57-3ad1-43c2-bde2-64b56868c910",
      "name": "Extract generated image",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        320
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Manual test trigger": {
      "main": [
        [
          {
            "node": "Mock image card input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mock image card input": {
      "main": [
        [
          {
            "node": "Validate card input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Receive card input": {
      "main": [
        [
          {
            "node": "Validate card input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate card input": {
      "main": [
        [
          {
            "node": "Build image request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build image request": {
      "main": [
        [
          {
            "node": "Generate card with OpenRouter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate card with OpenRouter": {
      "main": [
        [
          {
            "node": "Extract generated image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract generated image": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "39a055c3-5d5c-47ef-b890-cb271d3e5094",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "openrouter-image-card-workflow",
  "tags": []
}
